@{
    ViewData["Title"] = "Home Page";
}
<section id="carousel">
    <div class="carousel">
        <div class="carousel-item" style="background-image: url(../../wwwroot/images/"
    </div>
</section>
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 style="text-align: center;">Welcome to Beauty Salon</h2>
                <p style="text-align: center;">We offer the best beauty treatments and services.</p>
            </div>
        </div>
    </div>
</section>
<section id="staff">
    <div class="container">
        <h2 class="text-center mb-5">The Staff</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Nail_Technician.jpg" alt="Nail-Technician" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Lazarus Eleazar</h5>
                        <p class="card-text text-muted">Nail Technician</p>
                        <p class="card-text">Lazarus specializes in creating unique and beautiful nail designs that perfectly complement your personal style.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Cosmotologist.jpg" alt="Cosmotologist" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Mary Magdalene</h5>
                        <p class="card-text text-muted">Cosmotologist</p>
                        <p class="card-text">Mary has over 10 years of experience as a cosmotologist and can answer any of the questions you may have.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Beautician.jpg" alt="Beautician" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Eros</h5>
                        <p class="card-text text-muted">Beautician</p>
                        <p class="card-text">Eros is a capable beautician with plenty of experience who will return the radiance and freshness of your skin.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>