@{
    ViewData["Title"] = "Home Page";
}
<section id="carousel">
    <div class="carousel">
        <div class="carousel-item" style="background-image: url(../../wwwroot/images/"
    </div>
</section>
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 style="text-align: center;">Добре дошли в Салона за красота</h2>
                <p style="text-align: center;">Ние предлагаме най-добрите козметични процедури и услуги.</p>
            </div>
        </div>
    </div>
</section>
<section id="staff">
    <div class="container">
        <h2 class="text-center mb-5">Нашият екип</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Nail_Technician.jpg" alt="Nail-Technician" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Лазар Иванов</h5>
                        <p class="card-text text-muted">Маникюрист</p>
                        <p class="card-text">Лазар е специализиран в създаването на уникални и красиви дизайни на нокти, които перфектно допълват личния ви стил.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Cosmotologist.jpg" alt="Cosmotologist" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Мария Магдалена</h5>
                        <p class="card-text text-muted">Козметик</p>
                        <p class="card-text">Maрия има над 10 години опит като козметик и може да отговори на всички въпроси, които възникнат.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/Beautician.jpg" alt="Beautician" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Ерос Иванов</h5>
                        <p class="card-text text-muted">Козметик</p>
                        <p class="card-text">Ерос е способен козметик с богат опит и въображение, който ще върне блясъка и свежестта на кожата ви.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>