@model Beauty_Salon.Models.Appointment
@{
    ViewData["Title"] = "Create";
}
<h1 class="text-center">Нов час</h1>
<hr />

<div class="row">
    <div class="col-md-4 text-center">
        <h3>Изберете дата</h3>
    </div>
</div>
<div class="container">

    <form asp-action="Create">
        <div class="row">
            <div class="col-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AppointmentDate" class="control-label">Дата за часа</label>
                    <input asp-for="AppointmentDate" class="form-control" type="date"
                           min="@DateTime.Now.ToString("yyyy-MM-dd")"
                           max="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")" onselect="setAppointmentTime(@DateTime.Now)" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProcedureId" class="control-label">Процедура</label>
                    <select asp-for="ProcedureId" asp-items=@ViewBag.Procedures class="form-control"></select>
                    <span asp-validation-for="ProcedureId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Създай" class="btn btn-custom" />
                    <a class="btn btn-custom" asp-action="Index">Назад</a>
                </div>
            </div>
            <div class="col-6">
                <div class="text-center">
                    <h3>Изберете час</h3>
                    <div class="form-group">
                        <input asp-for="AppointmentTime" id="AppointmentTime" type="hidden" value="" />
                        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                        <div class="row mx-auto">
                            <div class="col-md-3 mx-auto">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            @for (int hour = 8; hour <= 11; hour++)
                                            {
                                                <tr>
                                                    <td class="text-center"><button type="button" class="btn btn-custom appointment-time" onclick="setAppointmentTime('@hour:00')" name="AppointmentTime" value="@hour:00">@hour:00</button></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><button type="button" class="btn btn-custom appointment-time" onclick="setAppointmentTime('@hour:30')" name="AppointmentTime" value="@hour:30">@hour:30</button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3 mx-auto">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            @for (int hour = 12; hour <= 17; hour++)
                                            {
                                                @if (hour == 13 || hour == 14)
                                                {
                                                    continue; // skip hours 1 PM and 2 PM
                                                }
                                                <tr>
                                                    <td class="text-center"><button type="button" class="btn btn-custom appointment-time" onclick="setAppointmentTime('@hour:00')" name="AppointmentTime" value="@hour:00">@hour:00</button></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><button type="button" class="btn btn-custom appointment-time" onclick="setAppointmentTime('@hour:30')" name="AppointmentTime" value="@hour:30">@hour:30</button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function setAppointmentTime(time) {
            // Get all buttons with class "appointment-time"
            const buttons = document.querySelectorAll(".appointment-time");

            // Remove the "active" class from all buttons
            buttons.forEach((button) => button.classList.remove("selected"));

            // Add the "active" class to the clicked button
            const clickedButton = event.target;
            clickedButton.classList.add("selected");

            // Set the value of the hidden input field
            const appointmentTimeField = document.getElementById("AppointmentTime");
            appointmentTimeField.value = time;
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
