@model Beauty_Salon.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Премахване на часа</h1>
<br />
<br />
<h3>Час</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Име
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureName)
        </dd>
        <dt class="col-sm-2">
            Час
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourAndMinute)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Премахни" class="btn btn-custom" /> |
        <a class="btn btn-custom" asp-action="Index">Назад</a>
    </form>
</div>
