@model Beauty_Salon.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Промяна на час</h1>
<hr />
<div class="row">
    <div class="col-md-4 text-center">
        <h3>Изберете дата</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label">Дата за часа</label>
                <input asp-for="AppointmentDate" class="form-control" type="date"
                       min="@DateTime.Now.ToString("yyyy-MM-dd")"
                       max="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 text-center">
                    <h3>Изберете час</h3>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="AppointmentTime" id="AppointmentTime" type="hidden" value="" />
                        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                @for (int hour = 8; hour <= 11; hour++)
                                {
                                    <tr>
                                        <td class="text-center"><button type="button" class="btn btn-custom appointment-time select-button" onclick="setAppointmentTime('@hour:00')" name="AppointmentTime" value="@hour:00">@hour:00</button></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><button type="button" class="btn btn-custom appointment-time select-button" onclick="setAppointmentTime('@hour:30')" name="AppointmentTime" value="@hour:30">@hour:30</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                @for (int hour = 12; hour <= 17; hour++)
                                {
                                    @if (hour == 13 || hour == 14)
                                    {
                                        continue; // skip hours 1 PM and 2 PM
                                    }
                                    <tr>
                                        <td class="text-center"><button type="button" class="btn btn-custom appointment-time select-button" onclick="setAppointmentTime('@hour:00')" name="AppointmentTime" value="@hour:00">@hour:00</button></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><button type="button" class="btn btn-custom appointment-time select-button" onclick="setAppointmentTime('@hour:30')" name="AppointmentTime" value="@hour:30">@hour:30</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureId" class="control-label">Процедура</label>
                <select asp-for="ProcedureId" asp-items=@ViewBag.Procedures class="form-control"></select>
                <span asp-validation-for="ProcedureId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-custom" /> |
                <a class="btn btn-custom" asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const appointmentTimeButtons = document.querySelectorAll('.select-button');

        // Add click event listener to each button
        appointmentTimeButtons.forEach(button => {
            button.addEventListener('click', () => {
                // Remove 'selected' class from previously clicked button
                appointmentTimeButtons.forEach(btn => {
                    btn.classList.remove('selected');
                });

                // Add 'selected' class to clicked button
                button.classList.add('selected');
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
